# Data Science Tools and Ecosystem

INTRODUCTION

In this notebook, Data Science Tools and Ecosystem are summarized.

__OBJECTIVES__

* R

  * SQL
 
  * Python

Some of the popular languages that Data Scientists use are:

i. Python

ii. SQL

iii. R

iv. Visual Basic for Application

v. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow

2. Numpy

3. Scipy

4. Panda

5. Matplotlib

| Data Science Tools|
|:-----------------:|
| Jupyter Notebook  |
| Apache Sparks     |
| Matplotlib        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers.

17

In [11]:
hours = 200/60

In [ ]:
200/60 #This will convert 200 minutes to hours by diving by 60.

In [12]:
print(hours)

3.3333333333333335

## Author

Lakshmi Holla

Niveditha Pandith